<header class="bg-success">
  <h5 class="text-light">Nagarro Forecasting Prototype</h5>
</header>

<div class=" container mt-3">
  <h4 class="text-center">Forecast Worksheet</h4>
  <div class="my-3">
    <button class="btn btn-success" title="Save Worksheet">Save</button>
    <button class="btn btn-primary mx-3" title="Fetch saved Worksheets" (click)="loadWorksheet()">Fetch</button>
    <button class="btn btn-secondary" routerLink="" title="Back">Back</button>
  </div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let name of levelNamesArr">
          {{name}}
        </th>
        <th *ngFor="let timeVal of timeRangeArr">
          {{timeVal}}
        </th>
      </tr>
    </thead>

    <!-- Generating Table -->
    <tbody>
      <tr *ngFor="let item of jsonData.sheet">
        <td>{{ item.country }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.age }}</td>
        <td *ngFor="let year of timeRangeArr">
          {{ item.data[year] }}
        </td>
      </tr>
    </tbody>


    <!-- <tbody *ngIfElse="isOldWorksheet; newWorksheet">
    </tbody>
    <tbody #newWorksheet>
      <span *ngFor="let levCount of levelCountArr">
        <span *ngFor="let it1 of [].constructor(levCount); let i = index">
          <span *ngFor="let it2 of [].constructor(levCount); let i = index">
            <span ngfor>

            </span>
            
          </span>
        </span>
      </span>
    </tbody> -->
  </table>
</div>