<header class="bg-success">
  <h5 class="text-light">Nagarro Forecasting Prototype</h5>
</header>

<div class=" container mt-3">
  <!-- notication bar start-->
  <div *ngIf="message">
  <div class="alert alert-warning " role="alert">
    <strong>{{message}}</strong>
  </div>
  </div>
  <!-- notification bar end -->
  <h4 class="text-center">Forecast Worksheet</h4>
  <div class="my-3">
    <button class="btn btn-success" title="Save Worksheet" (click)="saveSheet()">Save</button>
    <button class="btn btn-primary mx-3" title="Fetch saved Worksheets" (click)="fetchClicked()">Fetch</button>
    <button class="btn btn-secondary" routerLink="" title="Back">Back</button>
    <br>

    <form *ngIf="isFetchRequested" [formGroup]="fetchSheetForm" (ngSubmit)="loadWorksheet()">
      <br>
      <div id="fetchFormDivId">
        <label for="inputSheetName">Sheet Name</label>
        <input type="text" id="inputSheetName" formControlName="sheetName">
        <br>
        <span *ngIf="getControl('sheetName')?.errors && getControl('sheetName')?.touched">
          <small class="text-danger" *ngIf="getControl('sheetName')?.errors?.['required']">Sheet Name is
            required</small>
        </span>
        <br>
        <input type="submit" value="Open" class="btn btn-success">
      </div>
    </form>
    <label class="text-danger" *ngIf="wrongSheetName">Please provide correct Sheet Name</label>
    <br>

    <Label>Current Sheet: {{worksheetParametersTransferService.sheetName}}</Label>
  </div>
  <label class="text-danger" *ngIf="firstTimeIntervalNotFilled">First Time interval has to be filled</label>
  <table>
    <!-- Table Header -->
    <thead>
      <tr>
        <th *ngFor="let name of levelNamesArr">
          {{name}}
        </th>
        <th *ngFor="let timeVal of timeRangeArr">
          {{inputObject.time['series']}} {{timeVal}}
        </th>
      </tr>
    </thead>
    <!--Table Data -->
    <tbody>
      <ng-container *ngFor="let item of outputObjectJson.sheet; let i = index">
        <!-- Show data rows -->
        <tr>
          <td *ngFor="let name of levelNamesArr" contenteditable="true" (input)="onCellEdit($event, name, item)">
            {{ item[name] }}
          </td>
          <td *ngFor="let year of timeRangeArr" contenteditable="true" (input)="onDataCellEdit($event, year, item)">
            {{ item.data[year] }}
          </td>
        </tr>

        <ng-container *ngIf="i<outputObjectJson.sheet.length - 1">
          <ng-container *ngIf="getKey(item) !== getKey(outputObjectJson.sheet[i + 1])">
            <!-- Execute a function and store the result in an array -->
            <ng-container
              *ngIf="fillCurrentTotalArray(getKey(item), getKey(outputObjectJson.sheet[i + 1])) as dataArray">
              <ng-container *ngFor="let data of dataArray">
                <tr class="totalRowClass">
                  <td *ngFor="let p of [].constructor(data['colOffset'])"></td>
                  <td>{{data['totalColName']}}</td>
                  <td *ngFor="let p of [].constructor(data['remainingLevels'])"></td>
                  <td contenteditable="true" *ngFor="let yrTotal of data['totalColValue'],let j=index"
                    (input)="onTotalCellEdit($event, j, item, data)">{{yrTotal}}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="i==outputObjectJson.sheet.length - 1">
          <!-- Execute a function and store the result in an array -->
          <ng-container *ngIf="fillCurrentTotalArray(getKey(item), '') as dataArray">
            <ng-container *ngFor="let data of dataArray">
              <tr class="totalRowClass">
                <td *ngFor="let p of [].constructor(data['colOffset'])"></td>
                <td>{{data['totalColName']}}</td>
                <td *ngFor="let p of [].constructor(data['remainingLevels'])"></td>
                <td contenteditable="true" *ngFor="let yrTotal of data['totalColValue'],let j=index"
                    (input)="onTotalCellEdit($event, j, item, data)">{{yrTotal}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container>
        <tr class="totalRowClass">
          <td>Grand Total</td>
          <td *ngFor="let p of [].constructor(levelNamesArr.length-1)"></td>
          <td *ngFor="let grandYrTotal of levelTotals['GrandTotal']">{{grandYrTotal}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>